@font-face {
  font-family: ibm;
  src: url(IBMPlexSerif-Medium.ttf);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: ibm;
  line-height: 1.6;
  background-color: var(--background-colorf);
  color: var(--text-color);
}

header {
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--header-bgf);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-section {
  width: 100%;
  flex: 1 1 auto;
  padding: 60px 0;
}

.forgot-password-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.forgott-password-container {
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  background-color: var(--card-bg);
}

.verfication-email-container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 20px 0;
  color: var(--text-color);
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color:var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 26px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

footer {
  background-color: var(--footer-bgf);
  border-top: 1px solid var(--border-color);
  padding: 20px 0;
  text-align: center;
  flex: 0 0 auto;
}

@media (max-width: 768px) {
  .forgot-password-section {
    padding: 40px 0;
  }

  .forgott-password-container {
    padding: 20px;
    max-width: 90%;
  }

  .verfication-email-container input {
    padding: 8px;
  }

  .btn {
    padding: 6px 12px;
  }
}