:root {
    --primary-color: #4a6fa5;
    --secondary-color: #166088;
    --background-color: #f0dfcc;
    --text-color: #333;
    --header-bg: #c9a690;
    --footer-bg:#c9a690 ;
    --card-bg: #ffffff;
    --border-color: #ddd;
    --hover-color: #e9ecef;
    --active-color: #d4d4d4;
    --error-color: #dc3545;
    --success-color: #28a745;
    --background-colorc:#b28bc6;
    --header-bgc:#d3d3d3;
    --footer-bgc:#d3d3d3;

}
