:root {
    --primary-color: #4a6fa5;
    --secondary-color: #166088;
    --background-color: #f0dfcc;
    --text-color: #333;
    --header-bg: #c9a690;
    --footer-bg:#c9a690 ;
    --card-bg: #ffffff;
    --border-color: #ddd;
    --hover-color: #e9ecef;
    --active-color: #d4d4d4;
    --error-color: #dc3545;
    --success-color: #28a745;
    --background-colorc:#b28bc6;
    --header-bgc:#d3d3d3;
    --footer-bgc:#d3d3d3;
    --background-colora:#dee2ff;
    --header-bga:#8ea8c3;
    --footer-bga:#8ea8c3;
    --background-colorf:#cbf3d2;
    --header-bgf:#82ac9f;
    --footer-bgf:#82ac9f;
    --background-colorl:#b2c6d5;
    --header-bgl:#f5f0e1;
    --footer-bgl:#f5f0e1;
    --background-colorp:#e3d0d8;
    --header-bgp:#bca3ac;
    --footer-bgp:#bca3ac;
    --background-colorr:#ffebc6;
    --header-bgr:#cecfc7;
    --footer-bgr:#cecfc7;
}

